div.result {
  display: none;
}

/* * {
  border: 1px solid red;
} */

.jumbotron {
  background-color: #E0E2DB;
}

body {
  background-color: #778899;
  color: #10537D;
}

form {
  margin-top: 15%;
}
div.result {
  margin-top: 10%;
  padding: 1%;
  background-color: #E5FCF5;
}

img {
  padding: 2%;
  float: right;
  max-width: 50%;
  height: auto;
}
